In [ ]:
#!pip install sqlalchemy jupysql

In [ ]:
import pandas as pd
import numpy as np
import sqlalchemy
from pathlib import Path
%load_ext sql

In [ ]:
# Run this cell to connect to database
engine = sqlalchemy.create_engine('sqlite:///starwars.db')
connection = engine.connect()

In [ ]:
%sql engine

In [ ]:
%%sql
SELECT * FROM sqlite_master WHERE type='table';

In [ ]:
%sql SELECT * FROM characters;

In [ ]:
%sql PRAGMA table_info(characters);

In [ ]:
%sql SELECT * FROM characters WHERE gender = 'female'

In [ ]:
%%sql results_female <<
SELECT * 
FROM characters WHERE gender = 'female'

In [ ]:
results_female

In [ ]:
results_female.DataFrame()

In [ ]:
df_female = results_female.DataFrame()
df_female.head()

In [ ]:
%sql SELECT name, birth_year FROM characters ORDER BY birth_year;

In [ ]:
%%sql
SELECT name, birth_year 
FROM characters 
WHERE birth_year LIKE '%BBY'
ORDER BY CAST(REPLACE(birth_year, 'BBY', '') AS INTEGER)  DESC;

In [ ]:
%%sql
SELECT name, birth_year
FROM characters 
WHERE birth_year LIKE '%ABY';

In [ ]:
%%sql
SELECT characters.name, species.name
FROM characters
JOIN species ON characters.species = species.name;

In [ ]:
%sql PRAGMA table_info(characters);

In [ ]:
%%sql
SELECT characters.name, species.name
FROM characters
JOIN species ON characters.species = species.name;

In [ ]:
%sql SELECT * FROM starships

In [ ]:
%sql SELECT name, model, cost_in_credits FROM starships WHERE cost_in_credits < 200000;

In [ ]:
%sql SELECT name, model, cost_in_credits FROM starships WHERE CAST(cost_in_credits AS INTEGER) < 200000;

In [ ]:
%sql SELECT name, model, cost_in_credits FROM starships WHERE cost_in_credits = 'NA';

In [ ]:
%sql SELECT COUNT(*) AS num_nas FROM starships WHERE cost_in_credits = 'NA';

In [ ]:
%sql SELECT COUNT(*) AS total_characters FROM characters;

In [ ]:
%%sql
SELECT gender, COUNT(*) AS number_of_characters
FROM characters
GROUP BY gender

In [ ]:
%%sql
SELECT species, COUNT(*) AS num_characters
FROM characters
GROUP BY species
ORDER BY num_characters DESC;

In [ ]:
%%sql
select * from planets

In [ ]:
%%sql
SELECT name, climate, population 
FROM planets
WHERE name IN ('Naboo', 'Kamino');

In [ ]:
%%sql
SELECT name, rotation_period, diameter 
FROM planets 
WHERE rotation_period > 20 AND diameter > 10000;

In [ ]:
%sql SELECT * FROM starships LIMIT 10;

In [ ]:
%sql SELECT * FROM starships WHERE name = 'x-wing';

In [ ]:
%sql SELECT * FROM starships WHERE name LIKE '%X%';

In [ ]:
%sql SELECT * FROM starships WHERE LOWER(name) = 'x-wing';